<div id="<%= dom_id x_interest %>">
  <div>
    <strong>Type:</strong>
    <%= x_interest.type %>
  </div>

  <div>
    <strong>Query:</strong>
    <%= x_interest.query %>
  </div>

  <div>
    <strong>User:</strong>
    <%= x_interest.user_id %>
  </div>

</div>
