<% content_for :title, "Editing x interest" %>

<h1>Editing x interest</h1>

<%= render "form", x_interest: @x_interest %>

<br>

<div>
  <%= link_to "Show this x interest", @x_interest %> |
  <%= link_to "Back to x interests", x_interests_path %>
</div>
