<p style="color: green"><%= notice %></p>

<%= render @x_interest %>

<div>
  <%= link_to "Edit this x interest", edit_x_interest_path %>
  |
  <%= button_to "Destroy this x interest", @x_interest, method: :delete %>
</div>
