<div id="<%= dom_id x_topic %>">
  <div>
    <strong>Title:</strong>
    <%= x_topic.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= x_topic.description %>
  </div>

  <div>
    <strong>Query:</strong>
    <%= x_topic.query %>
  </div>

</div>
