<% content_for :title, "X topics" %>
<div class="prose">

  <h1>X topics</h1>

  <%= link_to "New x topic", new_x_topic_path %>
  <div id="x_topics">
    <% @x_topics.each do |x_topic| %>
      <p>
        <%= link_to x_topic.title, x_topic %>
      </p>
    <% end %>
  </div>

</div>
