<%= turbo_frame_tag "posts" do %>
  <div class="prose">
    <% @posts["tweets"].each do |p| %>
      <p>
        <a href="<%= p["url"] %>">Link</a>
        <%= p["text"] %>
      </p>
    <% end %>
    <% if @posts["tweets"].none? %>
      <p>No tweets</p>
    <% end %>
  </div>
<% end %>
