<div id="<%= dom_id x_search %>">
  <div>
    <strong>X topic:</strong>
    <%= x_search.x_topic_id %>
  </div>

  <div>
    <strong>Start time:</strong>
    <%= x_search.start_time %>
  </div>

  <div>
    <strong>End time:</strong>
    <%= x_search.end_time %>
  </div>

</div>
