<% content_for :title, "Editing x search" %>

<h1>Editing x search</h1>

<%= render "form", x_search: @x_search %>

<br>

<div>
  <%= link_to "Show this x search", @x_search %> |
  <%= link_to "Back to x searches", x_searches_path %>
</div>
