<% content_for :title, "New x search" %>

<h1>New x search</h1>

<%= render "form", x_topic: @x_topic, x_search: @x_search %>

<br>

<div>
  <%= link_to "Back to x searches", x_topic_x_searches_path(@x_topic) %>
</div>
